PINGADO_PORT=3000
PINGADO_DATABASE='mongodb://%USER:%PWD@%HOST:%PORT/%DB'
PINGADO_LOGGER=':remote-addr - :remote-user [:date[clf]] :method :url HTTP/:http-version :status :res[content-length] :referrer :user-agent'
PINGADO_VIEWS='%ROOT/app/views'
PINGADO_ENGINE='pug'
PINGADO_PUBLIC='%ROOT/app/assets'
PINGADO_IMAGES='%ROOT/app/assets/images'
PINGADO_FONTS='%ROOT/app/assets/fonts'
PINGADO_STYLES='%ROOT/app/assets/css'
PINGADO_SCRIPTS='%ROOT/app/assets/js'
PINGADO_COVERAGE='%ROOT/coverage/lcov-report'
PINGADO_REPORT='%ROOT/mochawesome-report'
PINGADO_DOCUMENTATION='%ROOT/app/assets/doc/'
PINGADO_LOCALES='en pt-br'
PINGADO_LOCALES_DIR='%ROOT/locales'
BLUEBIRD_LONG_STACK_TRACES=1
BLUEBIRD_WARNINGS=1